.main {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.main h1 {
    padding: 0;
    margin: 0;
    color: var(--main-color);
    font-size: 1.6em;
}

.main a {
    color: white;
    font-size: 1.6em;
    text-decoration: none;
    margin: 16px;
    border: 1px solid whitesmoke;
    padding: 32px;
    width: 200px;
    display: inline-block;
    text-align: center;
}

.main a:hover {
    border-color: transparent;
    background: var(--main-link-hover-bg-color);
    color: var(--main-link-hover-color);
}
