:root {
    /* root */
    
    --main-bg-color: #121723;
    --main-color: #9ca8bd;

    --main-header-color: white;

    --main-link-hover-bg-color: orangered;
    --main-link-hover-color: black;

    --font-small: 0.8em;
    --font-normal: 1em;
    --font-large: 1.4em;
    --font-xlarge: 1.8em;

    --gaps-small: 4px;
    --gaps-medium: 8px;
    --gaps-large: 16px;
    --gaps-xlarge: 24px;
    --gaps-xxlarge: 32px;
}



/* export default {
    Green: "#4a9f87",
    DarkBlue: "#2f3c4f",
  
    font: {
      Small: "0.8em",
      Normal: "1.2em",
      Large: "1.4em",
    },
  }
   */